@keyframes change-bg-color {
  from {
    background-color: var(--background-color);
  }

  33% {
    background-color: var(--tertiary-color);
  }

  66% {
    background-color: var(--secondary-color);
  }
}

:root {
  --background-color: #062f4f;
  --light-background-color: #11619e;
  --secondary-color: #813772;
  --light-secondary-color: #a94b94;
  --tertiary-color: #b82601;
  --light-tertiary-color: #da2e03;
}

html {
  font-size: 18px;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  min-height: 100vh;
  background-color: black;
}

header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-items: start;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--background-color);
  border-bottom: 3px solid white;
  gap: 1rem;
}

header.no-theme {
  animation: change-bg-color 9s steps(2, jump-none) infinite;
}

header h1 {
  grid-column: 2 / span 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 3px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

button:hover {
  background-color: white;
  color: black;
}

input {
  padding: 0.3rem;
  min-width: 18rem;
}

.new-game-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-game {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.new-game:hover {
  color: white;
}

.new-game[data-mode='easy'], .easy:not(.square) {
  background-color: var(--background-color);
}

.new-game[data-mode='easy']:hover {
  background-color: var(--light-background-color);
}

.new-game[data-mode='hard'], .hard:not(.square) {
  background-color: var(--tertiary-color);
}

.new-game[data-mode='hard']:hover {
  background-color: var(--light-tertiary-color);
}

.new-game[data-type='human'], .human:not(.square) {
  background-color: var(--secondary-color);
}

.new-game[data-type='human']:hover {
  background-color: var(--light-secondary-color);
}

.user-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border: 3px solid white;
  padding: 1rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.submit {
  padding: 0.5rem 2.5rem;
}

.info-container {
  border: 3px solid white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info h2 {
  margin: 0;
  font-size: 1.2rem;
}

.info h3 {
  margin: 0;
  font-size: 1rem;
}

.info p {
  line-height: 1.5rem;
}

.board-header {
  margin-top: 1rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reset-game {
  font-size: 0.9rem;
}

.message-container {
  font-size: 1.5rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 20vh) / repeat(3, 20vh);
  gap: 0.25rem;
}

.board.easy {
  border: solid 3px var(--background-color);
}

.board.hard {
  border: solid 3px var(--tertiary-color);
}

.board.human {
  border: solid 3px var(--secondary-color);
}

.square {
  border: none;
  background-color: white;
  font-size: 16vh;
}

.square.easy {
  color: var(--background-color);
}

.square.hard {
  color: var(--tertiary-color);
}

.square.human {
  color: var(--secondary-color);
}

.square:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}
