html {
  font-size: 18px;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  justify-items: start;
  align-items: center;
  padding: 0.5rem 1.5rem;
}

header h1 {
  grid-column: 2 / span 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: 60vh;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

input {
  padding: 0.3rem;
  min-width: 18rem;
}

.new-game-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-game {
  padding: 1rem 1.5rem;
}

.user-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.submit {
  padding: 0.5rem 2.5rem;
}

.info-container {
  box-shadow: 0 0 5px black;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info h2 {
  margin: 0;
  font-size: 1.2rem;
}

.info h3 {
  margin: 0;
  font-size: 1rem;
}

.info p {
  line-height: 1.5rem;
}

.board-header {
  min-height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reset-game {
  font-size: 0.9rem;
}

.message-container {
  font-size: 1.5rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 20vh) / repeat(3, 20vh);
  background-color: black;
  border: 1px solid lightgray;
  gap: 0.25rem;
}

.square {
  border: none;
  background-color: white;
  font-size: 16vh;
}

.square:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}
